<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/global.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- Logo Favicon -->
    <link
      rel="icon"
      href="../../assets/images/fuho_logo.png"
      type="image/gif"
      sizes="20x20"
    />
    <link rel="stylesheet" href="../../assets/css/home.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <title>FUHO - SHOP</title>
  </head>
  <body>
    <footer>
      <div class="single-footer">
        <div class="footer-title">CONTACT US</div>
        <div class="footer-contact">
          <ul>
            <li>
              <span>Address: </span>
              28 Green Tower, Street Name, New York City, USA
            </li>

            <li>
              <span>Cell-Phone: </span>
              012345 - 123456789
            </li>

            <li>
              <span>Email : </span>
              fuhoshop@gmail.com
            </li>
          </ul>
        </div>
      </div>

      <div class="single-footer">
        <div class="footer-title">ACCOUNTS US</div>
        <div class="footer-accounts">
          <ul>
           <li><a href="" class="ft-ac-link">My Account</a></li>

           <li><a href="" class="ft-ac-link">My Wishlist</a></li>

           <li><a href="" class="ft-ac-link">My Cart</a></li>

           <li><a href="" class="ft-ac-link">Sign In</a></li>

           <li><a href="" class="ft-ac-link">Check out</a></li>
          </ul>
        </div>
      </div>

      <div class="single-footer">
        <div class="footer-title">SHIPPING</div>
        <div class="footer-shipping">
          <ul>
           <li><a href="" class="ft-ac-link"
        >New Products</a></li>

           <li><a href="" class="ft-ac-link">Top Sellers</a></li>

           <li><a href="" class="ft-ac-link">Manufacturers</a></li>

           <li><a href="" class="ft-ac-link">Suppliers</a></li>

           <li><a href="" class="ft-ac-link">Specials</a></li>
          </ul>
        </div>
      </div>

      

      <div class="single-footer">
        <div class="footer-title">CONTACT US</div>
        <div class="footer-subscribe">
          <form action="#">
            <input type="text" name="email" placeholder="Email Address...">
            <button class="btn-subscribe" type="submit">
                Subscribe
            </button>
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>
