* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.50%;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
:root {
    --primary-color: #c8a165;
    --secondary-color: #c87065;
    --bg-header: #FFFFFF;
    --text-color-header: #666666;
    --hover: #C8A165;
}
