/* Header */

/* Top-Header */
.top-header {
  padding: 1rem 15rem 1rem;

  display: flex;
  background-color: var(--third-color);
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.4rem;
}

.top-header .title-phone {
  margin-left: 40%;
}

.top-header > .title-phone > a {
  text-decoration: none;
  color: var(--text-color);
}
.txt-name {
  text-decoration: none;
  color: var(--text-color);
}
.txt-name:hover {
  transition: 0.5s linear;
  color: var(--hover);
}
.top-header > .title-login > a {
  text-decoration: none;
  color: var(--text-color);
}
.top-header > .title-login > a:hover,
.top-header > .title-phone > a:hover,
.fa-cart-shopping:hover {
  transition: 0.5s linear;
  color: var(--hover);
}
.fa-phone,
.fa-user,
.fa-plane-departure,
.fa-circle-xmark {
  color: var(--hover);
  padding-right: 1rem;
}

/* Sub-header */

.sub-header {

  font-weight: 600;
  font-size: 1.7rem;
  display: flex;
  background-color: var(--third-color);
  justify-content: center;
}

.sub-header img{
  width: 15rem;
  object-fit: contain;
}

.fa-angle-down {
  padding-left: 1rem;
  color: var(--text-color);
}

.fa-solid .fa-magnifying-glass,
.fa-solid .fa-cart-shopping {
  color: var(--text-color);
}
/* Menu */
.menu {
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active-button {
  pointer-events: none;
  color: var(--hover) !important;
  font-size: 1.7rem;
}

.menu_item {
  padding-right: 2rem;
  list-style: none;
  position: relative;
  font-size: 1.7rem;
}
.menu_item:hover .menu_child {
  opacity: 1;
  visibility: visible;
}
.menu_link {
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem;
}
.menu_child {
  border-radius: 1rem;
  position: absolute;
  top: 160%;
  background-color: var(--primary-color);
  width: 200%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
}

.menu_child_list {
  list-style: none;
  padding: 3rem;
}
.menu_child_list li {
  margin-bottom: 1rem;
}
.menu_child_list li a {
  text-decoration: none;
  color: var(--third-color);

  transition: padding 0.9 linear;
}
.menu_child_list li a:hover {
  padding: 1rem;
}
.menu_icon {
  list-style: none;
}

.menu_link {
  transition: 0.3s linear;
}

.menu_link:hover {
  border-radius: 1rem;
  background-color: var(--hover);
  width: 300px;
  color: var(--third-color);
}
/* Mobile Nav Btn Menu Bar*/
.menu_overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
}
.menu_bar_btn {
  color: var(--text-color);
  padding: 20px;
  border-radius: 1rem;
  display: none;
}
.menu-input:checked ~ .menu_overlay {
  display: block;
}
.menu-input:checked ~ .menu-mobile {
  opacity: 1;
  transform: translateX(0%);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-mobile {
  z-index: 10000000000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32rem;
  max-width: 100%;
  transform: translateX(100%);
  background-color: var(--text-color);
  opacity: 0;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

.menu_mobile_item {
  list-style: none;
  margin-top: 2.4rem;
}
.menu_mobile_link {
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0;
  padding-left: 3rem;
  font-size: 1.4rem;
}

.menu-mobile-close {
  position: absolute;
  color: #141414;
  font-size: 1.4rem;
  top: 1rem;
  right: 1rem;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.search-box .search-txt {
  position: relative;
  background-color: var(--hover);
  border-radius: 1rem;
  width: 0;
  transition: 0.5s;
}

.search-box .search-txt input {
  width: 100%;
  padding: 1rem;
  padding-left: 60px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--third-color);
  font-size: 1.5rem;
}

.search-box .search-txt input::placeholder {
  color: #141414;
}

.search-box .search-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2;
  cursor: pointer;
}

.search-box:hover > .search-txt {
  width: 20rem;
}

.header-cart i {
  color: var(--text-color);
}



