<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/shop.css" />
    <title>Shop</title>
  </head>
  <body>
    <div class="banner">
      <h3 class="title">SHOP</h3>
    </div>
    <div class="container-shop">
      <form action="#" method="post" class="container-shop-left">
        <form class="container-item">
          <div class="container-search">
              <input type="text" placeholder="Search here..." />
              <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
          </div>
        <div class="container-item">
          <div class="container-categories">
            <div class="title-shop-left">CATEGORIES</div>

            <ul class="categories">
              <li class="categorie">
                <a href="" class="link-categorie">Chair</a>
              </li>
              <li class="categorie">
                <a href="" class="link-categorie">Furniture</a>
              </li>
              <li class="categorie">
                <a href="" class="link-categorie">Accessories</a>
              </li>
              <li class="categorie">
                <a href="" class="link-categorie">Top Brands</a>
              </li>
              <li class="categorie">
                <a href="" class="link-categorie">Jewelry</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-item">
          <div class="container-filter">
            <div class="title-shop-left">PRICE</div>
            <div class="price-amount">
              <h5>You ranger: </h5>
              <div class="section-item fillter">
                <input class="range" type="range" name ="range" min="0" max="10000000" value="10" step="10000"
                    onmousemove="rangevalue1.value=nf.format(value)" />
                <div class="price-fillter">
                    <output id="rangevalue">0</output>
                    <output id="rangevalue1">0</output>
                </div>
              </div>
            </div>
            <div class="filter-ranger">

            </div>
            
          </div>
        </div>

        <div class="container-item">
          <div class="container-size">
            <div class="title-shop-left">SIZE</div>
            <ul class="list-size">
              <li class="size"><a href="" class="link-size">S</a></li>
              <li class="size"><a href="" class="link-size">M</a></li>
              <li class="size"><a href="" class="link-size">L</a></li>
              <li class="size"><a href="" class="link-size">XL</a></li>
            </ul>
          </div>
        </div>

        <div class="container-item">
          <div class="container-best-brand">
            <img src="/assets/images/best-brand.webp" alt="" class="img-best-brand">
            
          </div>
        </div>
      </form>
      <div class="container-shop-right">
        <div class="top-shop">
          <div class="option-top-shop">
            <button class="btn-op-top-shop">
              <i class="fa-solid fa-list"></i>
            </button>
            <button class="btn-op-top-shop">
              <i class="fa-solid fa-list"></i>
            </button>

            <!-- <div class="down-menu">
            <div class="shop-size">
                <div class="title-menu">

                </div>

                <div class="info-size">
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                        <li>XL</li>
                    </ul>
                </div>
            </div>
          </div> -->
          </div>

          <div class="text-end">Showing 01-09 of 17 Results</div>
        </div>

        <div class="product-list">
          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>
          <a href="#" class="product-item">
            <img src="/assets/images/product 2.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>
          <a href="#" class="product-item">
            <img src="/assets/images/product 3.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>
          <a href="#" class="product-item">
            <img src="/assets/images/product 4.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>

          <a href="#" class="product-item">
            <img src="/assets/images/product 1.webp" alt="" />
            <div class="product-info">
              <p class="product-name">DUMMY PRODUCT NAME</p>
              <p class="product-price">555$</p>
              <button class="btn-addtocart">
                Mua Ngay
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </a>
        </div>

        <div class="pagination-shop">
          <ul>
            <li>
              <a href="" class="link-product-shop"
                ><i class="fa-solid fa-arrow-left"></i
              ></a>
            </li>
            <li>
              <a href="" class="link-product-shop">01</a>
            </li>

            <li>
              <a href="" class="link-product-shop">02</a>
            </li>

            <li>
              <a href="" class="link-product-shop">03</a>
            </li>

            <li>
              <a href="" class="link-product-shop">04</a>
            </li>

            <li>
              <a href="" class="link-product-shop">05</a>
            </li>
            <li>
              <a href="" class="link-product-shop"
                ><i class="fa-solid fa-arrow-right"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
