<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/global.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- Logo Favicon -->
    <link
      rel="icon"
      href="../../assets/images/fuho_logo.png"
      type="image/gif"
      sizes="20x20"
    />
    <link rel="stylesheet" href="../../assets/css/home.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/login.css" />
    <link rel="stylesheet" href="../../assets/css/signUp.css" />


    <title>FUHO - SHOP</title>
  </head>

<body>
  <div class="sign-up-wrapper">
    <div class="sign-up-container">
      <div class="sign-up-title"><i class="fa-solid fa-user-plus"></i> Sign Up</div>

      <form action="/ProjectWeb/SoundMusicStore/admin/signup.php" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input id="name" name="name" type="text" placeholder="Enter your name" required />
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input id="user" name="user" type="text" placeholder="Enter your username" required />
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input id="email" name="email" type="email" placeholder="Enter your email" required />
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input id="tel" name="tel" type="text" placeholder="Enter your number" required />
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <i class="eye eye-close fa-regular fa-eye-slash"></i>
            <i class="eye  eye-open hidden  fa-regular fa-eye"></i>
            <input id="pass" name="pass" class="input" type="password" placeholder="Enter your password" required />
          </div>
          <div class="input-box">
            <span class="details">Address</span>

            <input id="address" name="address" class="input" type="text" placeholder="Enter your address" required />
          </div>
        </div>
        <!-- Gender -->
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"> </span>
              <span class="gender"> Male </span>
            </label>
            <label for="dot-2">
              <span class="dot two"> </span>
              <span class="gender"> Female </span>
            </label>
            <label for="dot-3">
              <span class="dot three"> </span>
              <span class="gender"> Prefer not to say </span>
            </label>
          </div>
          <div class="container-btn-sm">
            <div class="sign-up-btn">
              <input id="register" name='register' type="submit" value="Sign Up">
            </div>

            <div class="sign-up-btn">
              <input id="reset" name='reset' type="reset" value="Reset">
            </div>

            <div class="sign-up-btn">
              <a href="./login.php">
                <input type="text" value="Login">
              </a>
            </div>
          </div>
</body>
<!-- JS -->
</html>